*/build-ext.properties
*/nbproject/build-impl.xml
*/nbproject/genfiles.properties
*/nbproject/private/
*/portal/build.xml
*/portal/nbproject/

common/ivy

java-application-project/nbproject/build-impl.xml
java-application-project/nbproject/genfiles.properties
java-application-project/nbproject/private/

java-application-project/classes/
java-application-project/portal/ivy-reports/
java-application-project/portal/ivy/
java-application-project/portal/modules/
java-application-project/portal/nbproject/private/

java-maven-project/classes/
java-maven-project/portal/

java-application-module-project/classes/
java-application-module-project/portal/ivy-reports/
java-application-module-project/portal/ivy/
java-application-module-project/portal/modules/
java-application-module-project/portal/nbproject/
java-application-module-project/build/