java-application-project/build-ext.properties

java-application-project/nbproject/build-impl.xml
java-application-project/nbproject/genfiles.properties
java-application-project/nbproject/private

java-application-project/classes/
java-application-project/ivy-reports/
java-application-project/portal/ivy
java-application-project/portal/nbproject/private/

java-maven-project/classes/
java-maven-project/portal/